<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--注意这个resource路径，是相对这个spring.xml ，并且spring会忽略掉
    第一个"/"，也就是说resource="/service.xml" 等同于 resource="service.xml"-->
    <import resource="dao.xml"/>
    <import resource="/service.xml"/>

</beans>